[Unit]
Description=Java backend service
After=network.target

[Service]
Type=simple
User={{ deployment_user }}
Group={{ deployment_group }}
EnvironmentFile={{ deployment_workdir }}/.env
WorkingDirectory={{ deployment_workdir }}
ExecStart=/usr/bin/java \\
    -jar \\
    -Dspring.profiles.active={{ deployment_spring_profile }} {{ deployment_workdir }}/app.jar \\
    {% if deployment_newrelic_enabled %}-javaagent:{{ deployment_newrelic_dir }}/newrelic.jar{% endif %} \\
    {% if XMS is defined and XMS != "" %}${XMS}{% endif %} \\
    {% if XMX is defined and XMX != "" %}${XMX}{% endif %} \\
    {% if XX is defined and XX != "" %}${XX}{% endif %} \\
    {% if XXASP is defined and XXASP != "" %}${XXASP}{% endif %}
Restart=on-failure
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
